body {
	text-align: center;
	font-style: oblique;
	font-family: fantasy;
	padding-bottom: 25px;
	background: url(../img/abcde.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 100%;
	position: relative;
}

h2 {
	color: #536895;
}


